<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:ignore="SmsAndCallLogPolicy" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AppManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        android:theme="@style/Theme.SMSFORWARDER">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity" />

        <service
            android:name=".smsreceiver.SmsForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <!-- Receiver داخل سرویس ثبت می‌شه، ولی برای بوت هم یکی لازم داریم -->
        <receiver
            android:name=".smsreceiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--        <receiver-->
        <!--            android:name=".smsreceiver.SmsReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:permission="android.permission.BROADCAST_SMS">-->
        <!--            <intent-filter android:priority="999">-->
        <!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

    </application>

</manifest>